@import "_var";
$font: "Hiragino Kaku Gothic ProN",
'Noto Sans JP',
'Hiragino Kaku',
'Meirio',
sans-serif;
.red {
    font-weight: 700;
    color: $red;
}

.blue {
    color: rgb(89, 110, 228);
    font-weight: 700;
}

.bg-y {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 35%, $yg 55%);
    font-weight: 700;
}

.mainColor {
    color: $main1;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.under {
    text-decoration: underline;
}

.ss {
    font-size: 11px;
}

.small {
    font-size: 13px;
}

.big {
    font-size: 1.2em;
}