#single__box {
    // padding: 10px 20px;
    margin-bottom: 30px;
    @include tablet() {
        padding: 0;
    }
    .title__wrap {
        h2 {
            font-size: 28px;
            font-weight: bold;
            color: $main1;
            padding: 5px 0;
            border-bottom: 2px solid $main2;
            margin-bottom: 10px;
            @include tablet() {
                padding: 0 5px;
            }
        }
    }
    // 特集-テキスト中心
    .content__wrap {
        color: $black;
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: $white;
            background: dimgray;
            padding: 5px 5px 5px 10px;
            margin-bottom: 10px;
            border-left: 5px solid $main2;
        }
        h4 {
            font-size: 16px;
            color: $red;
        }
        div {
            margin: 10px 0 20px;
            border: 1px solid $grey;
            padding: 10px;
            font-size: 14px;
        }
        p {
            margin: 5px 0;
            line-height: 1.7;
        }
        ol {
            list-style: inherit;
            list-style: decimal!important;
            li {
                margin-bottom: 5px;
            }
        }
    }
    //特集-改善
    #feature__wrap {
        margin: 0;
        border: none;
        padding: 0 8px;
        h3 {
            background: none;
            color: inherit;
            padding: 0;
            margin-bottom: 0;
            border: none;
        }
        h4 {
            color: $ncta80;
        }
        div {
            border: none;
            margin: 0;
            padding: 0;
            font-size: inherit;
        }
        p {
            margin: 0;
        }
        .f__area {
            position: relative;
            font-size: 14px;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 40px;
            &:first-child {
                padding-top: 0;
            }
            &.bg__green {
                background-color: $llgreen;
            }
            @include tablet {
                padding-bottom: 36px;
                padding-top: 16px;
            }
            &#area__02,
            &#area__04 {
                .image__box {
                    margin: 40px auto;
                    width: 60%;
                    @include tablet {
                        width: 90%;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            &#area__04 {
                @include tablet {
                    padding-bottom: 0;
                }
                &:after {
                    display: none;
                }
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background: $lgrey;
                bottom: 0;
                left: 0;
            }
            h3.f__sub__title {
                font-size: $font_h1;
                text-align: center;
                background: none;
                color: $nmain;
                margin: 32px 0;
                @include tablet() {
                    font-size: $font_h1_m;
                    span {
                        font-size: 1rem;
                    }
                }
            }
            .margin__box {
                font-size: 32px;
                margin: 1em 0;
                @include tablet() {
                    font-size: 24px;
                }
                &.text__left {
                    margin: 1.4em auto 0.8rem;
                    width: 80%;
                    @include tablet() {
                        width: 90%;
                    }
                    h4.f__sub2__title {
                        margin: 14px;
                        font-size: 20px;
                    }
                }
                h4.f__sub2__title {
                    font-size: $font_h2;
                    font-weight: bold;
                    color: $black;
                    line-height: 40px;
                    @include tablet() {
                        width: 90%;
                        margin: 14px auto;
                        font-size: 1.0rem;
                        line-height: inherit;
                    }
                    &.ok__title,
                    &.ng__title,
                    &.check__title {
                        position: relative;
                        text-align: left;
                        padding-left: 40px;
                        margin: 60px 0 20px;
                        &:after {
                            content: '';
                            width: 33px;
                            height: 32px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    &.ok__title {
                        &:after {
                            background: url(./images/icons/ok__icon.png) no-repeat 50% 50% / cover;
                        }
                    }
                    &.ng__title {
                        &:after {
                            background: url(./images/icons/ng__icon.png) no-repeat 50% 50% / cover;
                        }
                    }
                    &.check__title {
                        &:after {
                            background: url(./images/icons/check__icon.png) no-repeat 50% 50% / cover;
                        }
                    }
                }
                h5.f__sub3__title {
                    color: $ncta;
                    font-weight: bold;
                    font-size: 1rem;
                    line-height: 24px;
                }
            }
            .f__txt__box {
                text-align: left;
                color: $ngrey;
                width: 80%;
                margin: 0 auto 40px;
                @include tablet() {
                    width: 90%;
                    margin: 20px auto;
                }
            }
            .white__box {
                background-color: $white;
                border-radius: 14px;
                width: 80%;
                border-radius: 24px;
                padding: 36px 14px;
                margin: auto;
                margin-bottom: 14px;
                @include tablet() {
                    width: 90%;
                    padding: 5vw 14px;
                }
                h5 {
                    font-size: 16px;
                    font-weight: bold;
                    color: $ncta;
                    margin-bottom: 1.4rem;
                }
                .image__box {
                    margin-bottom: 1.4rem;
                }
            }
            .grid {
                width: 90%!important;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 4px;
                img {
                    width: 100%;
                }
            }
            img,
            source {
                margin: 0 auto;
            }
            span.bold {
                color: $ndgrey;
                font-weight: bold;
            }
            ul.kaigai__point__list {
                margin: 32px auto;
                width: 80%;
                @include tablet {
                    width: 90%;
                }
                li {
                    font-size: $font_18;
                    line-height: 1.4;
                    font-weight: bold;
                    text-align: left;
                    padding-left: 36px;
                    position: relative;
                    margin-bottom: 20px;
                    @include tablet {
                        line-height: 1.6;
                        margin-bottom: 24px;
                    }
                    &::before {
                        content: '';
                        width: 31px;
                        height: 27px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        background-size: contain;
                        background-repeat: no-repeat;
                        transform: translateY(-50%);
                        @include tablet {
                            top: 0;
                            transform: translateY(0);
                        }
                    }
                    &:nth-child(1):before {
                        background-image: url(images/feature/no1.svg);
                    }
                    &:nth-child(2):before {
                        background-image: url(images/feature/no2.svg);
                    }
                    &:nth-child(3):before {
                        background-image: url(images/feature/no3.svg);
                    }
                    &:nth-child(4):before {
                        background-image: url(images/feature/no4.svg);
                    }
                    &:nth-child(5):before {
                        background-image: url(images/feature/no5.svg);
                    }
                }
            }
        }
        .mitsui__cards {
            @include tablet {
                padding-top: 0;
            }
            h3.f__sub__title {
                background: $nmain;
                color: $white;
                line-height: 80px;
                margin-bottom: 16px;
                @include tablet {
                    line-height: 40px;
                    padding: 8px 0;
                }
            }
            .item__box {
                display: flex;
                padding: 24px 16px;
                position: relative;
                @include tablet {
                    display: block;
                    padding: 24px 0;
                    .flex__box {
                        display: flex;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: $lgrey;
                    bottom: 0;
                    left: 0;
                }
                .left {
                    width: 20%;
                    margin-right: 1.1em;
                    @include tablet {
                        width: 30%;
                    }
                }
                .right {
                    width: 80%;
                }
                .card__title,
                .card__btn,
                .star__wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                @include tablet {
                    .card__title {
                        flex-wrap: wrap;
                    }
                }
            }
            .card__img img {
                width: 100%;
            }
            .card__title {
                font-size: $font_18;
                @include tablet {
                    font-size: $font_18_m;
                }
                .card__name {
                    margin-bottom: 8px;
                    @include tablet {
                        width: 100%;
                    }
                }
                .card__name a {
                    line-height: 2em;
                    font-weight: bold;
                    @include tablet {
                        line-height: 1em;
                        text-align: left;
                    }
                }
                .card__eval {
                    .number {
                        margin-left: 0.2em;
                        color: $ncta80;
                        font-weight: bold;
                    }
                }
            }
        }
        .card__points {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 8px 0;
            border: 1px solid $dgrey;
            .point__box {
                border-right: 1px solid $dgrey;
                &:last-child {
                    border: none;
                }
            }
            .point__word1,
            .point__word2 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.7rem;
                padding: 8px;
                @include tablet {
                    padding: 8px 2px;
                    font-size: 0.7rem;
                }
            }
            .point__word1 {
                background: $lgrey;
            }
            .point__word2 {
                @include tablet {
                    padding: 8px 2px;
                }
            }
        }
        @include tablet {
            .card__btn {
                display: flex;
                justify-content: space-between;
            }
        }
        .card__btn {
            display: flex;
            justify-content: space-evenly;
            .new__btn {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    height: 48px;
                    will-change: opacity;
                    transition: opacity 0.3s;
                    &:hover {
                        opacity: 0.8;
                    }
                    @include tablet {
                        height: 40px;
                    }
                }
            }
            .btn__syousai {
                width: 30%;
                margin-right: 4px;
                a {
                    background: $white;
                    font-size: 0.7rem;
                    color: $ngrey;
                    border: 1px solid $lgrey;
                    text-decoration: underline;
                    padding: 14px;
                    border-radius: 50px;
                }
            }
            .btn__koushiki {
                width: 70%;
                @include tablet {
                    a {
                        font-size: 0.7rem;
                    }
                }
                a {
                    background: $ncta;
                    border: 2px solid $lorange;
                    font-size: 1rem;
                    font-weight: bold;
                    color: $white;
                    padding: 14px;
                    border-radius: 50px;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        width: 20px;
                        height: 20px;
                        transform: translateY(-50%);
                        background-image: url(images/feature/new_btn_arrow.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    // 詳細ページ 
    .single__item__wrap {
        display: flex;
        flex-direction: column;
        @include tablet() {
            margin: 5px;
            padding: 10px 0;
            border: 1px solid $dgrey;
            border-radius: 10px;
        }
        a {
            // transition: opacity 0.5s;
            &:hover {
                opacity: 0.8;
            }
        }
        .title__wrap {
            @include tablet {
                order: 1;
            }
            h2 {
                color: $black;
                border-bottom: 0;
                @include tablet() {
                    text-align: center;
                    font-size: 18px;
                    background: $lgrey;
                    margin: 0;
                    padding: 5px 0 2px;
                }
            }
        }
        .banner__wrap {
            margin: 10px 0;
            img {
                width: 100%;
            }
        }
        .star__wrap {
            @include tablet {
                order: 1;
            }
            margin: 0;
            display: flex;
            justify-content: end;
            align-items: center;
            @include starBoxSm();
            @include tablet {
                justify-content: center;
                background: $lgrey;
                padding: 5px;
                .star {
                    background: $white;
                }
            }
            .number {
                font-size: 18px!important;
            }
        }
        .review__box {
            position: relative;
            font-size: 12px;
            color: $black;
            border: 2px solid $main2;
            background: aliceblue;
            margin-top: 20px;
            @include tablet {
                margin: 10px 10px 4px 10px;
            }
            &.open {
                display: block;
            }
            @include tablet {
                order: 8;
            }
            .review__title {
                padding: 16px 0;
                font-size: 16px;
                text-align: center;
                font-weight: bold;
                background: $white;
                @include tablet {
                    padding: 8px 0;
                }
                .fas {
                    margin-left: 8px;
                    color: darken($main2, 30%);
                    font-size: 28px;
                    @include tablet {
                        font-size: 20px;
                    }
                }
            }
            .review {
                display: flex;
                border-top: 1px solid $main2;
                padding: 8px 14px;
                &:nth-child(1) {
                    border: none;
                }
                @include tablet {
                    margin: 0;
                }
                .review__avatar {
                    margin-top: 14px;
                    width: 50px;
                    height: 60px;
                    @include tablet {
                        width: 30px;
                        height: 40px;
                    }
                }
                .descript {
                    margin-left: 8px;
                    padding: 13px 4px 18px;
                    @include tablet {
                        padding: 0;
                    }
                    p {
                        line-height: 1.7;
                        margin-bottom: 4px;
                        &:nth-child(1) {
                            font-weight: bold;
                            font-size: 14px;
                        }
                        &:nth-child(2) {
                            padding: 4px;
                            display: flex;
                            align-items: center;
                            @include tablet {
                                font-size: 11px;
                            }
                        }
                        &:nth-child(3) {
                            font-size: 14px;
                            @include tablet {
                                font-size: 13px;
                            }
                        }
                    }
                    img {
                        display: inline-block;
                        margin-left: 4px;
                        background: $white;
                        padding: 2px;
                        border-radius: 4px;
                    }
                }
            }
        }
        .catch__wrap {
            margin-bottom: 10px;
            @include tablet {
                order: 2;
            }
        }
        .info__wrap {
            @include tablet {
                order: 3;
            }
            ul {
                margin-top: 30px;
                position: relative;
                color: $black;
                padding: 10px 5px;
                font-size: 16px;
                border-top: 2px solid $main2;
                border-bottom: 2px solid $main2;
                @include tablet {
                    margin-top: 20px;
                    padding: 5px;
                    font-size: 14px;
                }
                &::after {
                    content: '注目ポイント';
                    padding: 5px;
                    color: $white;
                    background: darken($main2, 20%);
                    position: absolute;
                    font-size: 12px;
                    left: -2px;
                    top: -25px;
                    border-radius: 5px 5px 0 0;
                }
                li {
                    margin: 5px 0;
                    padding-left: 10px;
                    font-weight: 700;
                    .fas {
                        color: darken($main2, 20%);
                        margin-right: 5px;
                    }
                }
                @include tablet {
                    order: 3;
                    background: $white;
                    border: none;
                    border-top: 2px solid $main2;
                    &::after {
                        top: -24px;
                        left: 0;
                        background: darken($main2, 20%);
                    }
                    li {
                        .fas {
                            color: $main2;
                        }
                    }
                }
            }
        }
        .flex__wrap {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            @include tablet {
                margin-top: 20px;
                justify-content: center;
                order: 2;
                flex-direction: column;
            }
            &>div {
                margin-right: 5px;
            }
            .image__wrap {
                flex: 1;
                a img {
                    width: 90%;
                    margin: 0 auto;
                    @include tablet {
                        width: 50%;
                    }
                }
            }
            .price__wrap {
                flex: 1;
                border: 1px solid $main1;
                box-sizing: border-box;
                border-radius: 5px;
                @include tablet {
                    display: none;
                }
                .price__title {
                    position: relative;
                    padding: 20px;
                    background: $main1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 5px 5px 0 0;
                    color: $white;
                    border-bottom: 2px solid $main1;
                    &:after {
                        content: '';
                        background: url(./images/ranking/triangle.png)no-repeat 50% 50%;
                        background-size: cover;
                        position: absolute;
                        bottom: -6px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 11px;
                        height: 6px;
                    }
                }
                .price__des {
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                }
            }
        }
        .icon__wrap {
            margin-top: 50px;
            font-size: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            @include tablet {
                order: 5;
                margin-top: 0px;
                padding: 10px;
                font-size: 10px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 0;
            }
            .icon__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                color: $black;
                border: 1px solid $grey;
                @include tablet {
                    justify-content: inherit;
                }
                .title__wrap {
                    padding: 20px;
                    font-weight: 500;
                    background: $lgrey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 14px;
                    @include tablet {
                        order: 1;
                        font-weight: 700;
                        padding: 5px;
                        font-size: 12px;
                        white-space: pre;
                    }
                }
                .image__wrap {
                    @include tablet {
                        order: 2;
                        width: auto;
                        height: 65px;
                        font-size: 13px;
                        padding: 5px;
                        text-align: center;
                        word-break: break-all;
                    }
                    padding: 5px 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 60px;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
        .campaign__wrap {
            margin-top: 40px;
            border-radius: 10px;
            height: auto;
            position: relative;
            background: $llgreen;
            @include tablet {
                order: 6;
                margin: 15px 5px 5px;
            }
            .campaign__title {
                width: 100%;
                padding: 5px 10px;
                background: $main1;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                color: $white;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                .fas {
                    margin-right: 5px;
                }
                @include tablet {
                    padding: 5px;
                    font-size: 12px;
                }
            }
            .campaign__descript {
                // color: $main1;
                line-height: 1.2;
                background: $llgreen;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 10px;
                border: 1px solid $main1;
                li {
                    font-size: 13px;
                    padding: 5px;
                    border-bottom: 1px solid rgba($main1, 0.3);
                    font-weight: 700;
                    color: $black;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:before {
                        font-family: "Font Awesome 5 Free";
                        content: '\f06b';
                        font-weight: 900;
                        color: $red;
                        background: $white;
                        border-radius: 50%;
                        padding: 2px;
                        margin-right: 5px;
                        box-shadow: 0 2px 3px rgba($black, 0.2);
                    }
                }
            }
        }
        .text__wrap {
            margin-top: 20px;
            padding: 10px;
            font-size: 14px;
            color: $black;
            border: 2px solid $grey;
            @include tablet {
                display: none;
            }
        }
        .descirpt__wrap {
            @include tablet {
                order: 6;
            }
            margin-top: 20px;
            background: #FFF2EB;
            font-size: 14px;
            padding: 20px 20px;
            color: $black;
            line-height: 1.6;
            @include tablet {
                margin-top: 0px;
            }
        }
        .result__button__wrap {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            .koushiki__wrap {
                position: relative;
                width: 100%;
                .koushiki__text {
                    display: block;
                    font-size: 16px;
                    margin: 2px 0;
                    font-weight: 700;
                    text-align: center;
                    position: absolute;
                    top: -27px;
                    left: 50%;
                    color: $black;
                    padding: 5px 15px;
                    transform: translateX(-50%);
                    z-index: 2;
                    @include tablet() {
                        padding: 5px;
                        top: -25px;
                        width: 100%;
                    }
                    @include tablet() {
                        font-size: 14px;
                    }
                }
            }
            .koushiki__btn {
                @include koushikiBtn();
                width: 100%;
            }
            @include tablet {
                order: 7;
                padding-bottom: 20px;
                .koushiki__btn {
                    font-size: 16px;
                }
            }
        }
    }
}

.single__insurance {
    flex-direction: row!important;
    justify-content: space-around;
    li {
        width: 99px!important;
    }
    @include tablet {
        padding-left: 10px;
        li {
            width: 35px!important;
        }
        order: 6!important;
    }
}

.mt40 {
    margin-top: 40px!important;
}