// point colors
$main1: #20B2AA;
$main2: #ADD8E6;
$cta: #FF6363;
// basic colors
$white: #FFFFFF;
$black: #464646;
$lgrey: #F2F2F2;
$grey:#E8E8E8;
$dgrey:#bebdbd;
$ddgrey: #a5a5a5;
$red: #EF4D4D;
$lgreen: #E5FFFE;
$llgreen: #F1FBFA;
$blue: #47C8FF;
$orange: #FF5C16;
$lorange: #FFF7DB;
//ranking colors
$rank1: #fddb6a;
$rank2:$dgrey;
$rank3: #dd9a7d;
$rank4: #ADD8E6;
$yg: rgb(255, 255, 104);
// new colors
$nmain: #2CB8B0;
$ncta: #FF6341;
$ncta80: #FF7C53;
$lorange: #FFB37C;
$ngrey: #828282;
$ndgrey:#616161;
// Fonts
$font_h1: 32px;
$font_h1_m: 28px;
$font_h2: 24px;
$font_h2_m: 20px;
$font_18: 18px;
$font_18_m: 16px;
// Breakpoints
$breakpoint-mobile: 386px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1030px;